{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(createForm) }}
    {{ form_row(createForm.pseudo) }}

        {{ form_row(createForm.email) }}
        {{ form_row(createForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(createForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(createForm) }}
{% endblock %}
